.desktop-header {
    height: 150px;
    background-color: #010f21;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

.heythere {
    font-size: 20px;
    color: #6590fb;
}

.name {
    font-size: 60px;
    color: #1244d5;
    margin-bottom: 20px;
    text-decoration: bold;
}

.buttonholder {
    margin-right: 60px;
    height: 90px;
}

.custbtn {
    border-radius: 0px;
    margin-right: 10px;
    color: #6590fb;
    background-color: transparent;
    font-size: 20px;
}

.custbtn:hover {
    transition: 0.3s ease all;
    background-color: #1244d5;
    color: white;
}