#initial {
    height: 100vh;
}

.initcontent {
    padding: 150px;
    z-index: 100;
}

.lowercontent {
    position: absolute;
    top: 150vh;
    width: 100%;
    background-color: #010f21;
}

.header1 {
    font-size: 50px;
    color: #fdfdfd;
    /*background-color: black;*/
}

.header2 {
    /* background-color: black;*/
    font-size: 90px;
    margin-top: 15px;
    color: white;
    font-family: 'Lato', sans-serif;
    position: relative;
}

.body {
    padding-top: 15px;
}

.btncontain {
    margin-top: 20px;
    /*background-color: black;*/
}

.mainbtn1 {
    position: relative;
    border: 0px none;
    background-color: #0e1e8c;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    font-size: 30px;
    color: white;
    transition: 0.2s ease all;
    width: 700px;
    height: 80px;
    overflow: hidden;
}

.after-content {
    position: absolute;
    top: 100%;
    transition: 0.25s ease all;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #0c3eaf;
    padding: 20px 40px 20px 40px;
}

.before-content {
    position: absolute;
    bottom: 0px;
    transition: 0.25s ease all;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px 40px 20px 40px;
}

.mainbtn1:hover {
    cursor: pointer;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    transform: scale(1.1, 1.1);
}

.mainbtn1:hover .before-content {
    bottom: 100%;
}

.mainbtn1:hover .after-content {
    top: 0%;
}

#bodycontainer {
    padding: 10px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.card {
    padding: 10px;
}

.card div {
    height: 100%;
    color: white;
    font-family: "Segoe UI", sans-serif;
}

.card2 {
    height: 300px;
}

.spaced {
    padding-top: 80px;
}

.cardheader {
    padding: 30px;
    background-color: #001f44;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #000a16;
    font-size: 20px;
}

.languages {
    background-color: #000a16;
}

.card ul {
    list-style: none;
    padding-left: 0px;
    border-radius: 0px 0px 5px 5px;
}

.card ul li {
    padding: 20px;
    transition: 0.1s linear all;
    background-color: #001630;
    border-bottom: 1px solid #000a16;
    border-top: 1px solid #000a16;
    font-size: 15px;
}

.card ul li .flavor {
    display: none;
}

.card ul li:hover {
    background-color: #000a16;
}

.card ul li:hover .flavor {
    display: block;
}

.card ul li:hover .head {
    display: none;
}

.right {
    right: 0px;
    float: right;
}

#closebtn:hover {
    color: white;
    background-color: #001630;
}

@media screen and (max-width: 900px) {
    .parallax-container {
        display: none!important;
    }
    .lowercontent {
        position: absolute;
        top: 0vh;
        width: 100%;
        background-color: #010f21;
    }
    .spaced {
        padding-top: 50px;
    }
    .card ul li {
        padding: 10px;
    }
    #bodycontainer {
        padding: 10px;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .card ul li:hover {
        background-color: #001630;
    }
    .card ul li:hover .flavor {
        display: none;
    }
    .card ul li:hover .head {
        display: block;
    }
}