<link rel="stylesheet" href="css/header.css">
<div class="desktop-header">
    <div class="desktop-navig">
        <span class="pull-right buttonholder">
                <a href="pages/about.html"><button class="btn custbtn btn-home" id="homebtn">Home</button></a>
                <button class="btn custbtn btn-about" id="aboutbtn">About</button>
                <button class="btn custbtn btn-contact" id="contactbtn">Contact</button>
                <button class="btn custbtn btn-menu" id="menubtn">Menu</button>
            </span>

    </div>
</div>